{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blogs</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'article/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'article/theme.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1>Add new blog</h1>
        <a type="button" class="btn btn-link" href="{% url 'blogform' %}">Enter your new blog here</a>
      </div>

      {% for article in articles %}

      <div class="page-header">
        <h1>{{ article.articleTitle }}</h1>
      </div>
      <div class="well">
        <p>{{ article.articleBody }}</p>
      </div>

      {% endfor %}

    </div> <!-- /container -->

  </body>
</html>
